*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

}
/* HEADER */
h1{
    padding: 10px 5px;
    color:#29B1DD;
}
span{
    margin-right: 5px;
}
.select_container{
    padding: 20px;
    background-color:#29B1DD;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN */
main{
    background-color: lightgray;
}
.icon_container{
    padding: 20px 0px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.box_icon{
    height: 100px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px black;
}
